blstudio-ig-system/automation/n8n/workflow-publish-carousel.json
{
  "name": "BLStudio — Publicar carrusel en IG",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Trigger manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        180,
        320
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/posts?status=eq.approved&format=eq.Carrusel&order=date.asc&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "read-approved-post",
      "name": "Leer post aprobado (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        320
      ],
      "notes": "Trae el próximo post APROBADO de formato Carrusel desde Supabase (status=approved, ordenado por fecha). Devuelve date, caption, image_url/video_url. Requiere las env vars SUPABASE_URL y SUPABASE_SERVICE_KEY en n8n. Si no hay ninguno aprobado, no hay nada para publicar."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "post_id",
              "value": "={{ $('Leer post aprobado (Supabase)').item.json.date }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "ig_user_id",
              "value": "17841422929265077",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "caption",
              "value": "={{ $('Leer post aprobado (Supabase)').item.json.caption }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "image_urls",
              "value": "=[\"https://REEMPLAZAR-slide-1.png\", \"https://REEMPLAZAR-slide-2.png\", \"https://REEMPLAZAR-slide-3.png\"]",
              "type": "array"
            },
            {
              "id": "atok",
              "name": "access_token",
              "value": "PEGA_TU_TOKEN_DE_60_DIAS_ACA",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-post-data",
      "name": "Datos del post",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        320
      ],
      "notes": "Mapea el post aprobado leído de Supabase (post_id=date, caption). Sólo cargá a mano el access_token de Meta (60 días) y verificá ig_user_id. Las URLs de los slides siguen siendo manuales: el modelo no guarda varias."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// BLStudio — Publicar carrusel (2-10 imágenes) en Instagram\n// 1) crea un container hijo por imagen, 2) crea el container padre CAROUSEL, 3) publica.\nconst data = $input.first().json;\nconst igUserId = data.ig_user_id;\nconst caption = data.caption || '';\nlet images = data.image_urls || [];\nif (typeof images === 'string') { images = JSON.parse(images); }\nconst token = data.access_token;\nconst base = 'https://graph.instagram.com/v21.0';\n\nif (!Array.isArray(images) || images.length < 2 || images.length > 10) {\n  throw new Error('Un carrusel necesita entre 2 y 10 imágenes en image_urls');\n}\n\n// 1) containers hijos\nconst childIds = [];\nfor (const url of images) {\n  const res = await this.helpers.httpRequest({\n    method: 'POST',\n    url: base + '/' + igUserId + '/media',\n    qs: { image_url: url, is_carousel_item: true, access_token: token },\n    json: true,\n  });\n  childIds.push(res.id);\n}\n\n// 2) container padre\nconst parent = await this.helpers.httpRequest({\n  method: 'POST',\n  url: base + '/' + igUserId + '/media',\n  qs: { media_type: 'CAROUSEL', children: childIds.join(','), caption: caption, access_token: token },\n  json: true,\n});\n\n// 3) publicar\nconst pub = await this.helpers.httpRequest({\n  method: 'POST',\n  url: base + '/' + igUserId + '/media_publish',\n  qs: { creation_id: parent.id, access_token: token },\n  json: true,\n});\n\nreturn [{ json: {\n  post_id: data.post_id,\n  ig_media_id: pub.id,\n  children: childIds,\n  status: 'published',\n  published_at: new Date().toISOString(),\n} }];"
      },
      "id": "publish-carousel",
      "name": "Crear y publicar carrusel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        320
      ],
      "notes": "Usa data.access_token. Crea N containers hijos + padre CAROUSEL + publish en una sola corrida."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BLSTUDIO_API_URL }}/api/webhooks/post-published",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "={{ $env.BLSTUDIO_WEBHOOK_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ { post_id: $json.post_id, ig_post_id: $json.ig_media_id, published_at: $json.published_at } }}",
        "options": {}
      },
      "id": "write-status-crm",
      "name": "Escribir status en CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        320
      ],
      "notes": "Fase 7. Llama al webhook de la Laravel API (blstudio-crm) para marcar el post como published. Requiere las variables de entorno BLSTUDIO_API_URL y BLSTUDIO_WEBHOOK_SECRET (= SUPABASE_SECRET del backend)."
    }
  ],
  "connections": {
    "Trigger manual": {
      "main": [
        [
          {
            "node": "Leer post aprobado (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos del post": {
      "main": [
        [
          {
            "node": "Crear y publicar carrusel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear y publicar carrusel": {
      "main": [
        [
          {
            "node": "Escribir status en CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer post aprobado (Supabase)": {
      "main": [
        [
          {
            "node": "Datos del post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "BLStudio — Publica un carrusel (2-10 imágenes) en @blstudioarg2026 via Instagram Content Publishing API. Trigger manual."
  },
  "pinData": {}
}